In [29]:
import pandas as pd
from unidecode import unidecode

In [30]:
# this script creates the database only with production columns, more focused in my work.
crops = ['cocoa', 'coffee', 'corn', 'rice', 'soy', 'sugarcane']
start_cols = ['name', 'state', 'location_type']
data_pam = pd.DataFrame(columns=start_cols)

for crop in crops:

    rename_cols = {
        'Local': 'name',
        'Quantidade produzida (Toneladas)': crop,
        'Área destinada à colheita (Hectares)' : 'area_planted_' + crop,
        'Área plantada (Hectares)': 'area_planted_' + crop,
        'Área colhida (Hectares)': 'area_harvested_' + crop,
        'UF': 'state',
        'Tipo região': 'location_type',
    }

    new_cols = list(set(rename_cols.values()))

    df_temp = pd.read_excel('data/processed/' + crop + '.xlsx').rename(columns=rename_cols)
    df_temp = df_temp[new_cols].drop_duplicates()
    data_pam = data_pam.merge(df_temp, on=['name', 'state', 'location_type'], how='outer')
    
# cleaning strings up

data_pam['name'] = data_pam['name'].apply(unidecode)
data_pam['state'] = data_pam['state'].apply(unidecode)
data_pam['location_type'] = (data_pam['location_type'].apply(unidecode).str
                       .replace('Municipio', 'city')
                       .replace('Microrregiao', 'microregion')
                       .replace('Mesorregiao', 'macroregion')
                       .replace('UF', 'state'))
# putting all productions int64o the same df


data_pam.to_csv('data/processed/data_pam_2022.csv')

In [31]:

rename_cols = {
    'Nome município': 'name',
    'Código IBGE município': 'id_city',
    'Nome microrregião': 'microregion',
    'Código IBGE microrregião': 'id_microregion',
    'Nome mesorregião': 'macroregion',
    'Código IBGE mesorregião': 'id_macroregion',
    'Nome UF': 'state',
    'Código IBGE UF': 'id_state',
    'Sigla UF': 'UF',
    'Nome região': 'region'
}
data_ibge_city = pd.read_excel('data/raw/ibge_codes/municipios.xlsx').rename(columns=rename_cols)
data_ibge_city['location_type'] = 'city'
data_ibge_city['id'] = data_ibge_city['id_city'].astype('int64')
str_columns = ['name', 'microregion','macroregion','state','UF','region']
for col in str_columns:
    data_ibge_city[col] = data_ibge_city[col].apply(unidecode)
    
data_ibge_microregion = pd.read_excel('data/raw/ibge_codes/microrregiao.xlsx').rename(columns=rename_cols)
data_ibge_microregion['name'] = data_ibge_microregion['microregion']
data_ibge_microregion['location_type'] = 'microregion'
data_ibge_microregion['id'] = data_ibge_microregion['id_microregion'].astype('int64')
str_columns = ['name', 'microregion', 'macroregion','state','UF','region']

for col in str_columns:
    data_ibge_microregion[col] = data_ibge_microregion[col].apply(unidecode)

data_ibge_macroregion = pd.read_excel('data/raw/ibge_codes/mesorregiao.xlsx').rename(columns=rename_cols)
data_ibge_macroregion['name'] = data_ibge_macroregion['macroregion']
data_ibge_macroregion['location_type'] = 'macroregion'
data_ibge_macroregion['id'] = data_ibge_macroregion['id_macroregion'].astype('int64')
str_columns = ['name','state', 'macroregion', 'UF','region']

for col in str_columns:
    data_ibge_macroregion[col] = data_ibge_macroregion[col].apply(unidecode)

data_ibge_state = pd.read_excel('data/raw/ibge_codes/uf.xlsx').rename(columns=rename_cols)
data_ibge_state['name'] = data_ibge_state['state']
data_ibge_state['location_type'] = 'state'
data_ibge_state['id'] = data_ibge_state['id_state'].astype('int64')
str_columns = ['name', 'state', 'UF','region']

for col in str_columns:
    data_ibge_state[col] = data_ibge_state[col].apply(unidecode)

data_ibge = pd.concat([data_ibge_city, data_ibge_microregion, data_ibge_macroregion, data_ibge_state])

data_ibge.to_csv('data/processed/data_ibge.csv')

In [32]:
df = data_pam.merge(data_ibge, on=['name', 'location_type', 'state'], how='inner')
crops = ['cocoa', 'coffee', 'corn', 'rice', 'soy', 'sugarcane']
df['total'] = df[crops].sum(axis=1)
df = df.set_index('id')

In [33]:
# finding out urea consumption of each region. At first we'll be considering only the selected crops.
# source - IFA report 2018
kgN_kgurea = 0.46

N_consumption = {
    'rice': 83,
    'corn': 68,
    'soy': 16,
    'sugarcane': 76,
    'coffee': 161,
    'cocoa' : 49
}

df['urea_consumption'] = 0
for crop in crops:
    df['urea_consumption'] = df['urea_consumption'] + N_consumption[crop] * df['area_planted_' + crop] / kgN_kgurea / 1000

In [34]:
# for each microregion, finding out what is the city with maximum production. that will be the reference city for distance purposes.
import numpy as np
microregions = df['microregion'].unique()

df.loc[df['location_type'] == 'city', 'location_id'] = df.loc[df['location_type'] == 'city'].index

for microregion in microregions:
    if microregion is not np.nan:
        df.loc[(df['microregion'] == microregion) & (df['location_type'] == 'microregion'), 'location_id'] = df['total'].loc[(df['location_type'] == 'city') & (df['microregion'] == microregion)].idxmax()

macroregions = df['macroregion'].unique()

for macroregion in macroregions:
    if macroregion is not np.nan:
        df.loc[(df['macroregion'] == macroregion) & (df['location_type'] == 'macroregion'), 'location_id'] = df['total'].loc[(df['location_type'] == 'city') & (df['macroregion'] == macroregion)].idxmax()

states = df['state'].unique()
for state in states:
    if state is not np.nan:
        df.loc[(df['state'] == state) & (df['location_type'] == 'state'), 'location_id'] = df['total'].loc[(df['location_type'] == 'city') & (df['state'] == state)].idxmax()

df['location_id'] = df['location_id'].astype(int)

In [35]:
df.to_csv('data/processed/location_db.csv')

In [36]:
df.loc[df['location_type'] == 'state']

,name,state,location_type,area_planted_cocoa,area_harvested_cocoa,cocoa,area_planted_coffee,area_harvested_coffee,coffee,corn,...,microregion,id_microregion,macroregion,id_macroregion,id_state,UF,region,total,urea_consumption,location_id
id,,,,,,,,,,,,,,,,,,,,,
12,Acre,Acre,state,0,0,0,1062,999,2570,135276,...,NaN,NaN,NaN,NaN,12,AC,Norte,177014,7.329080e+03,1200385
27,Alagoas,Alagoas,state,0,0,0,0,0,0,48055,...,NaN,NaN,NaN,NaN,27,AL,Nordeste,17126982,5.494338e+04,2702306
16,Amapa,Amapa,state,0,0,0,0,0,0,2350,...,NaN,NaN,NaN,NaN,16,AP,Norte,28272,7.990152e+02,1600303
13,Amazonas,Amazonas,state,1214,1203,656,320,313,628,5593,...,NaN,NaN,NaN,NaN,13,AM,Norte,60819,1.144289e+03,1303536
29,Bahia,Bahia,state,410785,410185,109748,121534,121534,233325,2461097,...,NaN,NaN,NaN,NaN,29,BA,Nordeste,13567101,2.521267e+05,2911105
23,Ceara,Ceara,state,7,7,11,1302,1302,448,538505,...,NaN,NaN,NaN,NaN,23,CE,Nordeste,1086421,8.923316e+04,2312304
53,Distrito Federal,Distrito Federal,state,0,0,0,418,418,1205,327000,...,NaN,NaN,NaN,NaN,53,DF,Centro-Oeste,658417,1.199198e+04,5300108
32,Espirito Santo,Espirito Santo,state,17488,17488,11703,408681,408646,950823,52537,...,NaN,NaN,NaN,NaN,32,ES,Sudeste,4124117,1.559378e+05,3203205
52,Goias,Goias,state,0,0,0,6771,6771,16957,10709893,...,NaN,NaN,NaN,NaN,52,GO,Centro-Oeste,99575835,5.914587e+05,5218508
21,Maranhao,Maranhao,state,0,0,0,0,0,0,2278917,...,NaN,NaN,NaN,NaN,21,MA,Nordeste,8825194,1.402845e+05,2111607
51,Mato Grosso,Mato Grosso,state,724,724,471,11825,11825,9348,38331222,...,NaN,NaN,NaN,NaN,51,MT,Centro-Oeste,94059346,1.390266e+06,5107925
50,Mato Grosso do Sul,Mato Grosso do Sul,state,0,0,0,176,172,64,12870873,...,NaN,NaN,NaN,NaN,50,MS,Centro-Oeste,62228642,5.875116e+05,5006002
31,Minas Gerais,Minas Gerais,state,139,139,129,1022699,1022699,1397270,7847614,...,NaN,NaN,NaN,NaN,31,MG,Sudeste,90207125,7.846786e+05,3170107
41,Parana,Parana,state,0,0,0,30804,30744,44873,15561027,...,NaN,NaN,NaN,NaN,41,PR,Sul,63951500,7.505387e+05,4111803
25,Paraiba,Paraiba,state,0,0,0,20,20,24,69495,...,NaN,NaN,NaN,NaN,25,PB,Nordeste,5835280,3.190688e+04,2511202
15,Para,Para,state,152837,152837,145994,187,187,158,1240534,...,NaN,NaN,NaN,NaN,15,PA,Norte,5288100,1.157103e+05,1508126
26,Pernambuco,Pernambuco,state,0,0,0,1009,1001,596,71062,...,NaN,NaN,NaN,NaN,26,PE,Nordeste,16672611,7.451608e+04,2614204
22,Piaui,Piaui,state,0,0,0,0,0,0,2591483,...,NaN,NaN,NaN,NaN,22,PI,Nordeste,6814263,1.280076e+05,2201150
24,Rio Grande do Norte,Rio Grande do Norte,state,0,0,0,0,0,0,28509,...,NaN,NaN,NaN,NaN,24,RN,Nordeste,3373002,2.035213e+04,2402204
43,Rio Grande do Sul,Rio Grande do Sul,state,0,0,0,0,0,0,3000744,...,NaN,NaN,NaN,NaN,43,RS,Sul,20455059,5.136503e+05,4317301
33,Rio de Janeiro,Rio de Janeiro,state,0,0,0,11021,11021,19322,10775,...,NaN,NaN,NaN,NaN,33,RJ,Sudeste,2740848,1.414710e+04,3301009
11,Rondonia,Rondonia,state,7563,7559,5017,57475,57445,201574,1485546,...,NaN,NaN,NaN,NaN,11,RO,Norte,3581601,9.292411e+04,1101468
14,Roraima,Roraima,state,90,90,144,0,0,0,97870,...,NaN,NaN,NaN,NaN,14,RR,Norte,525091,7.872391e+03,1400159
42,Santa Catarina,Santa Catarina,state,0,0,0,0,0,0,2138770,...,NaN,NaN,NaN,NaN,42,SC,Sul,5680249,1.030871e+05,4203600
28,Sergipe,Sergipe,state,0,0,0,0,0,0,793896,...,NaN,NaN,NaN,NaN,28,SE,Nordeste,3011076,3.349660e+04,2803609
35,Sao Paulo,Sao Paulo,state,0,0,0,199382,197414,293377,4785141,...,NaN,NaN,NaN,NaN,35,SP,Sudeste,430337941,1.147554e+06,3505500
17,Tocantins,Tocantins,state,0,0,0,0,0,0,1936933,...,NaN,NaN,NaN,NaN,17,TO,Norte,8780680,1.280297e+05,1716505

In [37]:
df.loc[5107925]

name                                     Sorriso
state                                Mato Grosso
location_type                               city
area_planted_cocoa                             0
area_harvested_cocoa                           0
cocoa                                          0
area_planted_coffee                            0
area_harvested_coffee                          0
coffee                                         0
corn                                     3787800
area_planted_corn                         535000
area_harvested_corn                       535000
area_planted_rice                              0
rice                                           0
area_harvested_rice                            0
area_planted_soy                          598500
soy                                      2118690
area_harvested_soy                        598500
area_harvested_sugarcane                    1800
sugarcane                                 126000
area_planted_sugarcane                      1800
id_city                                5107925.0
microregion                     Alto Teles Pires
id_microregion                           51006.0
macroregion                 Norte Mato-grossense
id_macroregion                            5101.0
id_state                                      51
UF                                            MT
region                              Centro-Oeste
total                                    6032490
urea_consumption                    100201.73913
location_id                              5107925
Name: 5107925, dtype: object

In [40]:
distance_matrix = pd.read_csv('data/raw/distance_matrix/matriz_distancias.csv', index_col=['origem', 'destino']).drop(columns='tempo')['distancia'].unstack()
distance_matrix.index.name = 'origin'

correct_keys = list(df.index)
wrong_keys = (np.array(list(df.index)) / 10).astype(int)
rename_dict = {i: j for i, j in zip (wrong_keys, correct_keys)}
distance_matrix = distance_matrix.rename(index=rename_dict, columns=rename_dict)

In [41]:
distance_matrix.to_csv('data/processed/distance_matrix.csv')

In [39]:
data_sp = df.loc[(df['state'] == 'Sao Paulo') & (df['location_type'] == 'city')]
code_list = data_sp['location_id'].to_numpy()
code_list = (code_list / 10).astype(int)
new_dm = distance_matrix.loc[code_list, code_list]